.App {
  background-color: #4B4A4A;
  color: white;
  margin: 0;
  padding: 1rem 8rem;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

h1 {
  margin: 0;
  padding-bottom: 1rem;
}

h2 {
  margin: 0;
}

.products-header-span {
  padding-right: 5rem;
}

th {
  text-align: left;
  padding: 1rem 0 0.5rem 0;
}

tbody {
  border-top: 2px gray solid;
}

table { 
  border-collapse: collapse;
  width: 80%;
}